@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;1,200&display=swap');

* {
    font-family: 'Poppins', sans-serif;
}

@media screen and (max-width: 375px){
    .title {
        font-size: 25px;
    }
}

body {
    background: linear-gradient(90deg, #69b7eb, #b3dbd3, #f4d6db);
}

.App {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.inputForm {
    max-width: 450px;
    width: 90vw;
}

.btnPusher {
    display: none!important;
}
